@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  overflow-y: hidden;
}

.nav-bar {
  display: flex;
  background: trasnparent;
  color: red;
}

.button-special {
  padding: 0;
  margin: 0;
}

.layout-spacing {
  width: 100%;
  display: flex;
}

.sidebar {
  height: 100vh;
  width: 50%;
}
