@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  overflow-y: hidden;
}

.nav-bar {
  display: flex;
  background: trasnparent;
  color: red;
}

.button-special {
  padding: 0;
  margin: 0;
}
